__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/
.eggs/
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
*.bam
*.bai
*.fa
*.fai
*.fasta
*.tsv
*.bed
!example/*.bed
*.json
!example/*.json
.DS_Store
.venv/
venv/
